.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

.section-hero,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-hero {
    padding: 12px 48px 48px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 12px;
}

.logo {
    font-size: 24px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.subsection-hero {
    margin: 0 auto;
    padding: 48px;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}


.left-section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    flex-basis: 300px; /*Set flex basis to desired min-width for element to shrink THEN wrap*/
}

.hero-main-text {
    font-size: 48px;
}

.hero-second-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    width: fit-content;
}

.right-section {
    max-width: 500px;
    flex-grow: 1;
    flex-basis: 300px;
}

img {
    min-width: 200px;
    width: 100%;
    height: auto;
}

.section-info {
    color: #1F2937;
    text-align: center;
    padding: 48px;
}

.info-header-text {
    font-size: 36px;
    margin-bottom: 24px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}


.card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 200px;
}

.card img {
    border: solid #3882f6 4px;
    border-radius: 16px;
}

.info-text {
    margin-top: 12px;
    max-width: 150px;
}

.section-quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 48px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 790px;
}

.quote-text {
    font-size: 36px;
}

.quote-credit {
    align-self: flex-end;
}

.signup-box {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 48px auto;
    padding: 48px;
    border-radius: 12px;
    min-width: 200px;
    max-width: 1150px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;    
}

.signup-text {
    flex-grow: 1;
    flex-basis: 125px;
    max-width: 500px;
}

.footer {
    padding: 1em;
    text-align: center;
}